In [76]:
import numpy as np
import pandas as pd
import sqlite3
import spacy

In [77]:
# Download pretrained enlgish model
try:
    import en_core_web_sm
except:
    !python -m spacy download en_core_web_sm
    import en_core_web_sm

In [78]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("collectors/data.sqlite3")
job_df = pd.read_sql_query("SELECT * from job_post", con)
con.close()

In [79]:
# Verify that result of SQL query is stored in the dataframe
job_df.head()

,id,title,company,location,description,source,search_kw
0,1,Data Scientist,Aquatic Informatics,"Vancouver, BC",Do you want a meaningful role in a company tha...,indeed.com,data scientist
1,2,Business Intelligence Analyst,GLENTEL,"Burnaby, BC",Brand: Glentel Corporate\nLocation: Burnaby Of...,indeed.com,data scientist
2,3,Human Resources Data Scientist,Rio Tinto,Canada,2 x newly created Data Scientist opportunities...,indeed.com,data scientist
3,4,Lead - Human Resource Data Scientist,Rio Tinto,Canada,Newly created data science lead embedded withi...,indeed.com,data scientist
4,5,Machine Learning Engineer,Skycope Technologies Inc,"Vancouver, BC","Who We are\nFounded in 2016, Skycope Technolog...",indeed.com,data scientist

In [80]:
onet_competencies = 'datasets/competencies.csv'
onet_df = pd.read_csv(onet_competencies,index_col=0)
onet_df[onet_df['occupation'] == 'Computer and Information Research Scientists'].head(5)

,occupation,competency,category,description
0,Computer and Information Research Scientists,Source code management SCM software,Technology Skills,Development environment software
1,Computer and Information Research Scientists,Microsoft Azure,Technology Skills,Development environment software
2,Computer and Information Research Scientists,Visualization,Abilities,The ability to imagine how something will look...
3,Computer and Information Research Scientists,Free-field speakers,Tools Used,Loudspeakers
4,Computer and Information Research Scientists,Data visualization software,Technology Skills,Analytical or scientific software

In [81]:
def process_text(text):
    doc = nlp(text)
    result = []
    for token in doc:
        if token.text in nlp.Defaults.stop_words:
            continue
        if token.is_punct:
            continue
        if token.lemma_ == '-PRON-':
            continue
        # result.append(token.lemma_)
        result.append(token.text)
    return " ".join(result)

In [82]:
nlp = en_core_web_sm.load()
nlp.Defaults.stop_words.add("\n")

In [83]:
onet_comp = np.array(onet_df['competency'])
onet_desc = np.array(onet_df['description'])

In [84]:
onet_comp = np.array([process_text(comp.lower()) for comp in onet_comp])
onet_desc = np.array([process_text(desc.lower()) for desc in onet_desc])

In [85]:
# Filter ONet DF to keep only required category of competencies

category_list = ['Abilities', 'Technology Skills', 'Tools Used', 'Knowledge', 'Skills']

print("ONET length before filter: ", len(onet_df))
filtered_onet_df = onet_df.loc[onet_df['category'].isin(category_list)]
print("ONET length after filter:  ", len(filtered_onet_df))
filtered_onet_df.head(5)

ONET length before filter:  4938
ONET length after filter:   3702

,occupation,competency,category,description
0,Computer and Information Research Scientists,Source code management SCM software,Technology Skills,Development environment software
1,Computer and Information Research Scientists,Microsoft Azure,Technology Skills,Development environment software
2,Computer and Information Research Scientists,Visualization,Abilities,The ability to imagine how something will look...
3,Computer and Information Research Scientists,Free-field speakers,Tools Used,Loudspeakers
4,Computer and Information Research Scientists,Data visualization software,Technology Skills,Analytical or scientific software

In [86]:
occupations = 'results/title_occupation.csv'
occupations = pd.read_csv(occupations)
occupations['description'] = job_df['description']
occupations.head(5)

,id,title_processed,identifier,score_all,name,description
0,1,data scientist,15-1111.00,0.749518,Computer and Information Research Scientists,Do you want a meaningful role in a company tha...
1,2,business intelligence analyst,15-1199.08,0.873630,Business Intelligence Analysts,Brand: Glentel Corporate\nLocation: Burnaby Of...
2,3,human resources data scientist,15-2041.02,0.810885,Clinical Data Managers,2 x newly created Data Scientist opportunities...
3,4,lead human resource data scientist,15-2041.00,0.828754,Statisticians,Newly created data science lead embedded withi...
4,5,machine learning engineer,19-2099.01,0.811024,Remote Sensing Scientists and Technologists,"Who We are\nFounded in 2016, Skycope Technolog..."

In [87]:
job_desc = occupations['description'].values

In [88]:
job_desc = np.array([desc.lower() for desc in job_desc])

In [89]:
job_lengths = np.array([len(list(nlp(str(desc)).sents)) for desc in job_desc])

In [90]:
job_lengths[:15]

array([ 28,  32, 228, 236,  30,  20,  22,  21,  25,  46,  32,  48,  35,
        38,  23])

In [91]:
# Choose to keep jobs which have sentences less than a threshold
MAX_SENTENCE_LENGTH = 40
job_ids = np.where(job_lengths < MAX_SENTENCE_LENGTH)[0]

In [92]:
job_ids[:10]

array([ 0,  1,  4,  5,  6,  7,  8, 10, 12, 13])

In [93]:
FIRST_N = 50

small_job_desc = job_desc[job_ids][:FIRST_N]

small_job_desc = np.array([np.array([process_text(line.text).replace("\n", '') \
                                for line in nlp(str(desc)).sents]) \
                                for desc in small_job_desc])

In [94]:
small_job_desc[0][:5]

array(['want meaningful role company making difference world',
       'want involved important environmental resource areas today',
       'want learn involved developing deploying machine learning predictive analytics solutions colleagues years research development experience',
       'join energetic growing team help revolutionize industry',
       'company founded 2003 aquatic informatics provides software solutions address critical water data management analytics compliance challenges rapidly growing water industry'],
      dtype='<U368')

In [95]:
# ***************************************************************
# BEWARE: EXTREMELY TIME CONSUMING
# TRY FOR SMALL NUMBER OF JOBS
# IMPRACTICAL FOR A LARGE SET OF JOBS SIMULTANEOUSLY
# PRACTICAL IMPLICATION: PERFORM THIS WHENEVER A NEW JOB IS ADDED
# ***************************************************************

scores = []
comp_ids = []

for i, desc in enumerate(small_job_desc):
    title = occupations['name'].iloc[i]
    idss = filtered_onet_df.index[filtered_onet_df['occupation'] == title].tolist()
    sent_score = []
    sent_comp_id = []
    print("COMPETENCIES {}, SENTENCES {}".format(len(idss), len(desc)))
    print("------------------------------")
    for j, sentence in enumerate(desc):
        sentence = nlp(str(sentence))
        temp_score = []
        # temp_comp_id = np.empty()
        for ids in idss:
            sim1 = sentence.similarity(nlp(str(onet_comp[ids])))
            sim2 = sentence.similarity(nlp(str(onet_desc[ids])))
            temp_score.append(max(sim1, sim2))
    
        max_score = np.max(temp_score)
        max_comp_id = idss[np.argmax(temp_score)]
        sent_score.append(max_score)
        sent_comp_id.append(max_comp_id)
        print("JOB {}, SENTENCE {} DONE".format(i, j))

    scores.append(sent_score)
    comp_ids.append(sent_comp_id)

------------------------------
JOB 21, SENTENCE 0 DONE
JOB 21, SENTENCE 1 DONE
JOB 21, SENTENCE 2 DONE
JOB 21, SENTENCE 3 DONE
JOB 21, SENTENCE 4 DONE
JOB 21, SENTENCE 5 DONE
JOB 21, SENTENCE 6 DONE
JOB 21, SENTENCE 7 DONE
JOB 21, SENTENCE 8 DONE
JOB 21, SENTENCE 9 DONE
JOB 21, SENTENCE 10 DONE
JOB 21, SENTENCE 11 DONE
JOB 21, SENTENCE 12 DONE
JOB 21, SENTENCE 13 DONE
JOB 21, SENTENCE 14 DONE
JOB 21, SENTENCE 15 DONE
JOB 21, SENTENCE 16 DONE
JOB 21, SENTENCE 17 DONE
JOB 21, SENTENCE 18 DONE
JOB 21, SENTENCE 19 DONE
JOB 21, SENTENCE 20 DONE
JOB 21, SENTENCE 21 DONE
JOB 21, SENTENCE 22 DONE
JOB 21, SENTENCE 23 DONE
JOB 21, SENTENCE 24 DONE
COMPETENCIES 76, SENTENCES 12
------------------------------
JOB 22, SENTENCE 0 DONE
JOB 22, SENTENCE 1 DONE
JOB 22, SENTENCE 2 DONE
JOB 22, SENTENCE 3 DONE
JOB 22, SENTENCE 4 DONE
JOB 22, SENTENCE 5 DONE
JOB 22, SENTENCE 6 DONE
JOB 22, SENTENCE 7 DONE
JOB 22, SENTENCE 8 DONE
JOB 22, SENTENCE 9 DONE
JOB 22, SENTENCE 10 DONE
JOB 22, SENTENCE 11 DONE
COMPETENCIES 120, SENTENCES 35
------------------------------
JOB 23, SENTENCE 0 DONE
JOB 23, SENTENCE 1 DONE
JOB 23, SENTENCE 2 DONE
JOB 23, SENTENCE 3 DONE
JOB 23, SENTENCE 4 DONE
JOB 23, SENTENCE 5 DONE
JOB 23, SENTENCE 6 DONE
JOB 23, SENTENCE 7 DONE
JOB 23, SENTENCE 8 DONE
JOB 23, SENTENCE 9 DONE
JOB 23, SENTENCE 10 DONE
JOB 23, SENTENCE 11 DONE
JOB 23, SENTENCE 12 DONE
JOB 23, SENTENCE 13 DONE
JOB 23, SENTENCE 14 DONE
JOB 23, SENTENCE 15 DONE
JOB 23, SENTENCE 16 DONE
JOB 23, SENTENCE 17 DONE
JOB 23, SENTENCE 18 DONE
JOB 23, SENTENCE 19 DONE
JOB 23, SENTENCE 20 DONE
JOB 23, SENTENCE 21 DONE
JOB 23, SENTENCE 22 DONE
JOB 23, SENTENCE 23 DONE
JOB 23, SENTENCE 24 DONE
JOB 23, SENTENCE 25 DONE
JOB 23, SENTENCE 26 DONE
JOB 23, SENTENCE 27 DONE
JOB 23, SENTENCE 28 DONE
JOB 23, SENTENCE 29 DONE
JOB 23, SENTENCE 30 DONE
JOB 23, SENTENCE 31 DONE
JOB 23, SENTENCE 32 DONE
JOB 23, SENTENCE 33 DONE
JOB 23, SENTENCE 34 DONE
COMPETENCIES 104, SENTENCES 14
------------------------------
JOB 24, SENTENCE 0 DONE
JOB 24, SENTENCE 1 DONE
JOB 24, SENTENCE 2 DONE
JOB 24, SENTENCE 3 DONE
JOB 24, SENTENCE 4 DONE
JOB 24, SENTENCE 5 DONE
JOB 24, SENTENCE 6 DONE
JOB 24, SENTENCE 7 DONE
JOB 24, SENTENCE 8 DONE
JOB 24, SENTENCE 9 DONE
JOB 24, SENTENCE 10 DONE
JOB 24, SENTENCE 11 DONE
JOB 24, SENTENCE 12 DONE
JOB 24, SENTENCE 13 DONE
COMPETENCIES 76, SENTENCES 15
------------------------------
JOB 25, SENTENCE 0 DONE
JOB 25, SENTENCE 1 DONE
JOB 25, SENTENCE 2 DONE
JOB 25, SENTENCE 3 DONE
JOB 25, SENTENCE 4 DONE
JOB 25, SENTENCE 5 DONE
JOB 25, SENTENCE 6 DONE
JOB 25, SENTENCE 7 DONE
JOB 25, SENTENCE 8 DONE
JOB 25, SENTENCE 9 DONE
JOB 25, SENTENCE 10 DONE
JOB 25, SENTENCE 11 DONE
JOB 25, SENTENCE 12 DONE
JOB 25, SENTENCE 13 DONE
JOB 25, SENTENCE 14 DONE
COMPETENCIES 190, SENTENCES 32
------------------------------
JOB 26, SENTENCE 0 DONE
JOB 26, SENTENCE 1 DONE
JOB 26, SENTENCE 2 DONE
JOB 26, SENTENCE 3 DONE
JOB 26, SENTENCE 4 DONE
JOB 26, SENTENCE 5 DONE
JOB 26, SENTENCE 6 DONE
JOB 26, SENTENCE 7 DONE
JOB 26, SENTENCE 8 DONE
JOB 26, SENTENCE 9 DONE
JOB 26, SENTENCE 10 DONE
JOB 26, SENTENCE 11 DONE
JOB 26, SENTENCE 12 DONE
JOB 26, SENTENCE 13 DONE
JOB 26, SENTENCE 14 DONE
JOB 26, SENTENCE 15 DONE
JOB 26, SENTENCE 16 DONE
JOB 26, SENTENCE 17 DONE
JOB 26, SENTENCE 18 DONE
JOB 26, SENTENCE 19 DONE
JOB 26, SENTENCE 20 DONE
JOB 26, SENTENCE 21 DONE
JOB 26, SENTENCE 22 DONE
JOB 26, SENTENCE 23 DONE
JOB 26, SENTENCE 24 DONE
JOB 26, SENTENCE 25 DONE
JOB 26, SENTENCE 26 DONE
JOB 26, SENTENCE 27 DONE
JOB 26, SENTENCE 28 DONE
JOB 26, SENTENCE 29 DONE
JOB 26, SENTENCE 30 DONE
JOB 26, SENTENCE 31 DONE
COMPETENCIES 208, SENTENCES 20
------------------------------
JOB 27, SENTENCE 0 DONE
JOB 27, SENTENCE 1 DONE
JOB 27, SENTENCE 2 DONE
JOB 27, SENTENCE 3 DONE
JOB 27, SENTENCE 4 DONE
JOB 27, SENTENCE 5 DONE
JOB 27, SENTENCE 6 DONE
JOB 27, SENTENCE 7 DONE
JOB 27, SENTENCE 8 DONE
JOB 27, SENTENCE 9 DONE
JOB 27, SENTENCE 10 DONE
JOB 27, SENTENCE 11 DONE
JOB 27, SENTENCE 12 DONE
JOB 27, SENTENCE 13 DONE
JOB 27, SENTENCE 14 DONE
JOB 27, SENTENCE 15 DONE
JOB 27, SENTENCE 16 DONE
JOB 27, SENTENCE 17 DONE
JOB 27, SENTENCE 18 DONE
JOB 27, SENTENCE 19 DONE
COMPETENCIES 333, SENTENCES 22
------------------------------
JOB 28, SENTENCE 0 DONE
JOB 28, SENTENCE 1 DONE
JOB 28, SENTENCE 2 DONE
JOB 28, SENTENCE 3 DONE
JOB 28, SENTENCE 4 DONE
JOB 28, SENTENCE 5 DONE
JOB 28, SENTENCE 6 DONE
JOB 28, SENTENCE 7 DONE
JOB 28, SENTENCE 8 DONE
JOB 28, SENTENCE 9 DONE
JOB 28, SENTENCE 10 DONE
JOB 28, SENTENCE 11 DONE
JOB 28, SENTENCE 12 DONE
JOB 28, SENTENCE 13 DONE
JOB 28, SENTENCE 14 DONE
JOB 28, SENTENCE 15 DONE
JOB 28, SENTENCE 16 DONE
JOB 28, SENTENCE 17 DONE
JOB 28, SENTENCE 18 DONE
JOB 28, SENTENCE 19 DONE
JOB 28, SENTENCE 20 DONE
JOB 28, SENTENCE 21 DONE
COMPETENCIES 308, SENTENCES 21
------------------------------
JOB 29, SENTENCE 0 DONE
JOB 29, SENTENCE 1 DONE
JOB 29, SENTENCE 2 DONE
JOB 29, SENTENCE 3 DONE
JOB 29, SENTENCE 4 DONE
JOB 29, SENTENCE 5 DONE
JOB 29, SENTENCE 6 DONE
JOB 29, SENTENCE 7 DONE
JOB 29, SENTENCE 8 DONE
JOB 29, SENTENCE 9 DONE
JOB 29, SENTENCE 10 DONE
JOB 29, SENTENCE 11 DONE
JOB 29, SENTENCE 12 DONE
JOB 29, SENTENCE 13 DONE
JOB 29, SENTENCE 14 DONE
JOB 29, SENTENCE 15 DONE
JOB 29, SENTENCE 16 DONE
JOB 29, SENTENCE 17 DONE
JOB 29, SENTENCE 18 DONE
JOB 29, SENTENCE 19 DONE
JOB 29, SENTENCE 20 DONE
COMPETENCIES 208, SENTENCES 25
------------------------------
JOB 30, SENTENCE 0 DONE
JOB 30, SENTENCE 1 DONE
JOB 30, SENTENCE 2 DONE
JOB 30, SENTENCE 3 DONE
JOB 30, SENTENCE 4 DONE
JOB 30, SENTENCE 5 DONE
JOB 30, SENTENCE 6 DONE
JOB 30, SENTENCE 7 DONE
JOB 30, SENTENCE 8 DONE
JOB 30, SENTENCE 9 DONE
JOB 30, SENTENCE 10 DONE
JOB 30, SENTENCE 11 DONE
JOB 30, SENTENCE 12 DONE
JOB 30, SENTENCE 13 DONE
JOB 30, SENTENCE 14 DONE
JOB 30, SENTENCE 15 DONE
JOB 30, SENTENCE 16 DONE
JOB 30, SENTENCE 17 DONE
JOB 30, SENTENCE 18 DONE
JOB 30, SENTENCE 19 DONE
JOB 30, SENTENCE 20 DONE
JOB 30, SENTENCE 21 DONE
JOB 30, SENTENCE 22 DONE
JOB 30, SENTENCE 23 DONE
JOB 30, SENTENCE 24 DONE
COMPETENCIES 193, SENTENCES 32
------------------------------
JOB 31, SENTENCE 0 DONE
JOB 31, SENTENCE 1 DONE
JOB 31, SENTENCE 2 DONE
JOB 31, SENTENCE 3 DONE
JOB 31, SENTENCE 4 DONE
JOB 31, SENTENCE 5 DONE
JOB 31, SENTENCE 6 DONE
JOB 31, SENTENCE 7 DONE
JOB 31, SENTENCE 8 DONE
JOB 31, SENTENCE 9 DONE
JOB 31, SENTENCE 10 DONE
JOB 31, SENTENCE 11 DONE
JOB 31, SENTENCE 12 DONE
JOB 31, SENTENCE 13 DONE
JOB 31, SENTENCE 14 DONE
JOB 31, SENTENCE 15 DONE
JOB 31, SENTENCE 16 DONE
JOB 31, SENTENCE 17 DONE
JOB 31, SENTENCE 18 DONE
JOB 31, SENTENCE 19 DONE
JOB 31, SENTENCE 20 DONE
JOB 31, SENTENCE 21 DONE
JOB 31, SENTENCE 22 DONE
JOB 31, SENTENCE 23 DONE
JOB 31, SENTENCE 24 DONE
JOB 31, SENTENCE 25 DONE
JOB 31, SENTENCE 26 DONE
JOB 31, SENTENCE 27 DONE
JOB 31, SENTENCE 28 DONE
JOB 31, SENTENCE 29 DONE
JOB 31, SENTENCE 30 DONE
JOB 31, SENTENCE 31 DONE
COMPETENCIES 190, SENTENCES 35
------------------------------
JOB 32, SENTENCE 0 DONE
JOB 32, SENTENCE 1 DONE
JOB 32, SENTENCE 2 DONE
JOB 32, SENTENCE 3 DONE
JOB 32, SENTENCE 4 DONE
JOB 32, SENTENCE 5 DONE
JOB 32, SENTENCE 6 DONE
JOB 32, SENTENCE 7 DONE
JOB 32, SENTENCE 8 DONE
JOB 32, SENTENCE 9 DONE
JOB 32, SENTENCE 10 DONE
JOB 32, SENTENCE 11 DONE
JOB 32, SENTENCE 12 DONE
JOB 32, SENTENCE 13 DONE
JOB 32, SENTENCE 14 DONE
JOB 32, SENTENCE 15 DONE
JOB 32, SENTENCE 16 DONE
JOB 32, SENTENCE 17 DONE
JOB 32, SENTENCE 18 DONE
JOB 32, SENTENCE 19 DONE
JOB 32, SENTENCE 20 DONE
JOB 32, SENTENCE 21 DONE
JOB 32, SENTENCE 22 DONE
JOB 32, SENTENCE 23 DONE
JOB 32, SENTENCE 24 DONE
JOB 32, SENTENCE 25 DONE
JOB 32, SENTENCE 26 DONE
JOB 32, SENTENCE 27 DONE
JOB 32, SENTENCE 28 DONE
JOB 32, SENTENCE 29 DONE
JOB 32, SENTENCE 30 DONE
JOB 32, SENTENCE 31 DONE
JOB 32, SENTENCE 32 DONE
JOB 32, SENTENCE 33 DONE
JOB 32, SENTENCE 34 DONE
COMPETENCIES 104, SENTENCES 37
------------------------------
JOB 33, SENTENCE 0 DONE
JOB 33, SENTENCE 1 DONE
JOB 33, SENTENCE 2 DONE
JOB 33, SENTENCE 3 DONE
JOB 33, SENTENCE 4 DONE
JOB 33, SENTENCE 5 DONE
JOB 33, SENTENCE 6 DONE
JOB 33, SENTENCE 7 DONE
JOB 33, SENTENCE 8 DONE
JOB 33, SENTENCE 9 DONE
JOB 33, SENTENCE 10 DONE
JOB 33, SENTENCE 11 DONE
JOB 33, SENTENCE 12 DONE
JOB 33, SENTENCE 13 DONE
JOB 33, SENTENCE 14 DONE
JOB 33, SENTENCE 15 DONE
JOB 33, SENTENCE 16 DONE
JOB 33, SENTENCE 17 DONE
JOB 33, SENTENCE 18 DONE
JOB 33, SENTENCE 19 DONE
JOB 33, SENTENCE 20 DONE
JOB 33, SENTENCE 21 DONE
JOB 33, SENTENCE 22 DONE
JOB 33, SENTENCE 23 DONE
JOB 33, SENTENCE 24 DONE
JOB 33, SENTENCE 25 DONE
JOB 33, SENTENCE 26 DONE
JOB 33, SENTENCE 27 DONE
JOB 33, SENTENCE 28 DONE
JOB 33, SENTENCE 29 DONE
JOB 33, SENTENCE 30 DONE
JOB 33, SENTENCE 31 DONE
JOB 33, SENTENCE 32 DONE
JOB 33, SENTENCE 33 DONE
JOB 33, SENTENCE 34 DONE
JOB 33, SENTENCE 35 DONE
JOB 33, SENTENCE 36 DONE
COMPETENCIES 193, SENTENCES 38
------------------------------
JOB 34, SENTENCE 0 DONE
JOB 34, SENTENCE 1 DONE
JOB 34, SENTENCE 2 DONE
JOB 34, SENTENCE 3 DONE
JOB 34, SENTENCE 4 DONE
JOB 34, SENTENCE 5 DONE
JOB 34, SENTENCE 6 DONE
JOB 34, SENTENCE 7 DONE
JOB 34, SENTENCE 8 DONE
JOB 34, SENTENCE 9 DONE
JOB 34, SENTENCE 10 DONE
JOB 34, SENTENCE 11 DONE
JOB 34, SENTENCE 12 DONE
JOB 34, SENTENCE 13 DONE
JOB 34, SENTENCE 14 DONE
JOB 34, SENTENCE 15 DONE
JOB 34, SENTENCE 16 DONE
JOB 34, SENTENCE 17 DONE
JOB 34, SENTENCE 18 DONE
JOB 34, SENTENCE 19 DONE
JOB 34, SENTENCE 20 DONE
JOB 34, SENTENCE 21 DONE
JOB 34, SENTENCE 22 DONE
JOB 34, SENTENCE 23 DONE
JOB 34, SENTENCE 24 DONE
JOB 34, SENTENCE 25 DONE
JOB 34, SENTENCE 26 DONE
JOB 34, SENTENCE 27 DONE
JOB 34, SENTENCE 28 DONE
JOB 34, SENTENCE 29 DONE
JOB 34, SENTENCE 30 DONE
JOB 34, SENTENCE 31 DONE
JOB 34, SENTENCE 32 DONE
JOB 34, SENTENCE 33 DONE
JOB 34, SENTENCE 34 DONE
JOB 34, SENTENCE 35 DONE
JOB 34, SENTENCE 36 DONE
JOB 34, SENTENCE 37 DONE
COMPETENCIES 193, SENTENCES 28
------------------------------
JOB 35, SENTENCE 0 DONE
JOB 35, SENTENCE 1 DONE
JOB 35, SENTENCE 2 DONE
JOB 35, SENTENCE 3 DONE
JOB 35, SENTENCE 4 DONE
JOB 35, SENTENCE 5 DONE
JOB 35, SENTENCE 6 DONE
JOB 35, SENTENCE 7 DONE
JOB 35, SENTENCE 8 DONE
JOB 35, SENTENCE 9 DONE
JOB 35, SENTENCE 10 DONE
JOB 35, SENTENCE 11 DONE
JOB 35, SENTENCE 12 DONE
JOB 35, SENTENCE 13 DONE
JOB 35, SENTENCE 14 DONE
JOB 35, SENTENCE 15 DONE
JOB 35, SENTENCE 16 DONE
JOB 35, SENTENCE 17 DONE
JOB 35, SENTENCE 18 DONE
JOB 35, SENTENCE 19 DONE
JOB 35, SENTENCE 20 DONE
JOB 35, SENTENCE 21 DONE
JOB 35, SENTENCE 22 DONE
JOB 35, SENTENCE 23 DONE
JOB 35, SENTENCE 24 DONE
JOB 35, SENTENCE 25 DONE
JOB 35, SENTENCE 26 DONE
JOB 35, SENTENCE 27 DONE
COMPETENCIES 224, SENTENCES 28
------------------------------
JOB 36, SENTENCE 0 DONE
JOB 36, SENTENCE 1 DONE
JOB 36, SENTENCE 2 DONE
JOB 36, SENTENCE 3 DONE
JOB 36, SENTENCE 4 DONE
JOB 36, SENTENCE 5 DONE
JOB 36, SENTENCE 6 DONE
JOB 36, SENTENCE 7 DONE
JOB 36, SENTENCE 8 DONE
JOB 36, SENTENCE 9 DONE
JOB 36, SENTENCE 10 DONE
JOB 36, SENTENCE 11 DONE
JOB 36, SENTENCE 12 DONE
JOB 36, SENTENCE 13 DONE
JOB 36, SENTENCE 14 DONE
JOB 36, SENTENCE 15 DONE
JOB 36, SENTENCE 16 DONE
JOB 36, SENTENCE 17 DONE
JOB 36, SENTENCE 18 DONE
JOB 36, SENTENCE 19 DONE
JOB 36, SENTENCE 20 DONE
JOB 36, SENTENCE 21 DONE
JOB 36, SENTENCE 22 DONE
JOB 36, SENTENCE 23 DONE
JOB 36, SENTENCE 24 DONE
JOB 36, SENTENCE 25 DONE
JOB 36, SENTENCE 26 DONE
JOB 36, SENTENCE 27 DONE
COMPETENCIES 104, SENTENCES 32
------------------------------
JOB 37, SENTENCE 0 DONE
JOB 37, SENTENCE 1 DONE
JOB 37, SENTENCE 2 DONE
JOB 37, SENTENCE 3 DONE
JOB 37, SENTENCE 4 DONE
JOB 37, SENTENCE 5 DONE
JOB 37, SENTENCE 6 DONE
JOB 37, SENTENCE 7 DONE
JOB 37, SENTENCE 8 DONE
JOB 37, SENTENCE 9 DONE
JOB 37, SENTENCE 10 DONE
JOB 37, SENTENCE 11 DONE
JOB 37, SENTENCE 12 DONE
JOB 37, SENTENCE 13 DONE
JOB 37, SENTENCE 14 DONE
JOB 37, SENTENCE 15 DONE
JOB 37, SENTENCE 16 DONE
JOB 37, SENTENCE 17 DONE
JOB 37, SENTENCE 18 DONE
JOB 37, SENTENCE 19 DONE
JOB 37, SENTENCE 20 DONE
JOB 37, SENTENCE 21 DONE
JOB 37, SENTENCE 22 DONE
JOB 37, SENTENCE 23 DONE
JOB 37, SENTENCE 24 DONE
JOB 37, SENTENCE 25 DONE
JOB 37, SENTENCE 26 DONE
JOB 37, SENTENCE 27 DONE
JOB 37, SENTENCE 28 DONE
JOB 37, SENTENCE 29 DONE
JOB 37, SENTENCE 30 DONE
JOB 37, SENTENCE 31 DONE
COMPETENCIES 208, SENTENCES 23
------------------------------
JOB 38, SENTENCE 0 DONE
JOB 38, SENTENCE 1 DONE
JOB 38, SENTENCE 2 DONE
JOB 38, SENTENCE 3 DONE
JOB 38, SENTENCE 4 DONE
JOB 38, SENTENCE 5 DONE
JOB 38, SENTENCE 6 DONE
JOB 38, SENTENCE 7 DONE
JOB 38, SENTENCE 8 DONE
JOB 38, SENTENCE 9 DONE
JOB 38, SENTENCE 10 DONE
JOB 38, SENTENCE 11 DONE
JOB 38, SENTENCE 12 DONE
JOB 38, SENTENCE 13 DONE
JOB 38, SENTENCE 14 DONE
JOB 38, SENTENCE 15 DONE
JOB 38, SENTENCE 16 DONE
JOB 38, SENTENCE 17 DONE
JOB 38, SENTENCE 18 DONE
JOB 38, SENTENCE 19 DONE
JOB 38, SENTENCE 20 DONE
JOB 38, SENTENCE 21 DONE
JOB 38, SENTENCE 22 DONE
COMPETENCIES 104, SENTENCES 20
------------------------------
JOB 39, SENTENCE 0 DONE
JOB 39, SENTENCE 1 DONE
JOB 39, SENTENCE 2 DONE
JOB 39, SENTENCE 3 DONE
JOB 39, SENTENCE 4 DONE
JOB 39, SENTENCE 5 DONE
JOB 39, SENTENCE 6 DONE
JOB 39, SENTENCE 7 DONE
JOB 39, SENTENCE 8 DONE
JOB 39, SENTENCE 9 DONE
JOB 39, SENTENCE 10 DONE
JOB 39, SENTENCE 11 DONE
JOB 39, SENTENCE 12 DONE
JOB 39, SENTENCE 13 DONE
JOB 39, SENTENCE 14 DONE
JOB 39, SENTENCE 15 DONE
JOB 39, SENTENCE 16 DONE
JOB 39, SENTENCE 17 DONE
JOB 39, SENTENCE 18 DONE
JOB 39, SENTENCE 19 DONE
COMPETENCIES 208, SENTENCES 33
------------------------------
JOB 40, SENTENCE 0 DONE
JOB 40, SENTENCE 1 DONE
JOB 40, SENTENCE 2 DONE
JOB 40, SENTENCE 3 DONE
JOB 40, SENTENCE 4 DONE
JOB 40, SENTENCE 5 DONE
JOB 40, SENTENCE 6 DONE
JOB 40, SENTENCE 7 DONE
JOB 40, SENTENCE 8 DONE
JOB 40, SENTENCE 9 DONE
JOB 40, SENTENCE 10 DONE
JOB 40, SENTENCE 11 DONE
JOB 40, SENTENCE 12 DONE
JOB 40, SENTENCE 13 DONE
JOB 40, SENTENCE 14 DONE
JOB 40, SENTENCE 15 DONE
JOB 40, SENTENCE 16 DONE
JOB 40, SENTENCE 17 DONE
JOB 40, SENTENCE 18 DONE
JOB 40, SENTENCE 19 DONE
JOB 40, SENTENCE 20 DONE
JOB 40, SENTENCE 21 DONE
JOB 40, SENTENCE 22 DONE
JOB 40, SENTENCE 23 DONE
JOB 40, SENTENCE 24 DONE
JOB 40, SENTENCE 25 DONE
JOB 40, SENTENCE 26 DONE
JOB 40, SENTENCE 27 DONE
JOB 40, SENTENCE 28 DONE
JOB 40, SENTENCE 29 DONE
JOB 40, SENTENCE 30 DONE
JOB 40, SENTENCE 31 DONE
JOB 40, SENTENCE 32 DONE
COMPETENCIES 76, SENTENCES 27
------------------------------
JOB 41, SENTENCE 0 DONE
JOB 41, SENTENCE 1 DONE
JOB 41, SENTENCE 2 DONE
JOB 41, SENTENCE 3 DONE
JOB 41, SENTENCE 4 DONE
JOB 41, SENTENCE 5 DONE
JOB 41, SENTENCE 6 DONE
JOB 41, SENTENCE 7 DONE
JOB 41, SENTENCE 8 DONE
JOB 41, SENTENCE 9 DONE
JOB 41, SENTENCE 10 DONE
JOB 41, SENTENCE 11 DONE
JOB 41, SENTENCE 12 DONE
JOB 41, SENTENCE 13 DONE
JOB 41, SENTENCE 14 DONE
JOB 41, SENTENCE 15 DONE
JOB 41, SENTENCE 16 DONE
JOB 41, SENTENCE 17 DONE
JOB 41, SENTENCE 18 DONE
JOB 41, SENTENCE 19 DONE
JOB 41, SENTENCE 20 DONE
JOB 41, SENTENCE 21 DONE
JOB 41, SENTENCE 22 DONE
JOB 41, SENTENCE 23 DONE
JOB 41, SENTENCE 24 DONE
JOB 41, SENTENCE 25 DONE
JOB 41, SENTENCE 26 DONE
COMPETENCIES 208, SENTENCES 20
------------------------------
JOB 42, SENTENCE 0 DONE
JOB 42, SENTENCE 1 DONE
JOB 42, SENTENCE 2 DONE
JOB 42, SENTENCE 3 DONE
JOB 42, SENTENCE 4 DONE
JOB 42, SENTENCE 5 DONE
JOB 42, SENTENCE 6 DONE
JOB 42, SENTENCE 7 DONE
JOB 42, SENTENCE 8 DONE
JOB 42, SENTENCE 9 DONE
JOB 42, SENTENCE 10 DONE
JOB 42, SENTENCE 11 DONE
JOB 42, SENTENCE 12 DONE
JOB 42, SENTENCE 13 DONE
JOB 42, SENTENCE 14 DONE
JOB 42, SENTENCE 15 DONE
JOB 42, SENTENCE 16 DONE
JOB 42, SENTENCE 17 DONE
JOB 42, SENTENCE 18 DONE
JOB 42, SENTENCE 19 DONE
COMPETENCIES 208, SENTENCES 20
------------------------------
JOB 43, SENTENCE 0 DONE
JOB 43, SENTENCE 1 DONE
JOB 43, SENTENCE 2 DONE
JOB 43, SENTENCE 3 DONE
JOB 43, SENTENCE 4 DONE
JOB 43, SENTENCE 5 DONE
JOB 43, SENTENCE 6 DONE
JOB 43, SENTENCE 7 DONE
JOB 43, SENTENCE 8 DONE
JOB 43, SENTENCE 9 DONE
JOB 43, SENTENCE 10 DONE
JOB 43, SENTENCE 11 DONE
JOB 43, SENTENCE 12 DONE
JOB 43, SENTENCE 13 DONE
JOB 43, SENTENCE 14 DONE
JOB 43, SENTENCE 15 DONE
JOB 43, SENTENCE 16 DONE
JOB 43, SENTENCE 17 DONE
JOB 43, SENTENCE 18 DONE
JOB 43, SENTENCE 19 DONE
COMPETENCIES 208, SENTENCES 27
------------------------------
JOB 44, SENTENCE 0 DONE
JOB 44, SENTENCE 1 DONE
JOB 44, SENTENCE 2 DONE
JOB 44, SENTENCE 3 DONE
JOB 44, SENTENCE 4 DONE
JOB 44, SENTENCE 5 DONE
JOB 44, SENTENCE 6 DONE
JOB 44, SENTENCE 7 DONE
JOB 44, SENTENCE 8 DONE
JOB 44, SENTENCE 9 DONE
JOB 44, SENTENCE 10 DONE
JOB 44, SENTENCE 11 DONE
JOB 44, SENTENCE 12 DONE
JOB 44, SENTENCE 13 DONE
JOB 44, SENTENCE 14 DONE
JOB 44, SENTENCE 15 DONE
JOB 44, SENTENCE 16 DONE
JOB 44, SENTENCE 17 DONE
JOB 44, SENTENCE 18 DONE
JOB 44, SENTENCE 19 DONE
JOB 44, SENTENCE 20 DONE
JOB 44, SENTENCE 21 DONE
JOB 44, SENTENCE 22 DONE
JOB 44, SENTENCE 23 DONE
JOB 44, SENTENCE 24 DONE
JOB 44, SENTENCE 25 DONE
JOB 44, SENTENCE 26 DONE
COMPETENCIES 618, SENTENCES 11
------------------------------
JOB 45, SENTENCE 0 DONE
JOB 45, SENTENCE 1 DONE
JOB 45, SENTENCE 2 DONE
JOB 45, SENTENCE 3 DONE
JOB 45, SENTENCE 4 DONE
JOB 45, SENTENCE 5 DONE
JOB 45, SENTENCE 6 DONE
JOB 45, SENTENCE 7 DONE
JOB 45, SENTENCE 8 DONE
JOB 45, SENTENCE 9 DONE
JOB 45, SENTENCE 10 DONE
COMPETENCIES 208, SENTENCES 32
------------------------------
JOB 46, SENTENCE 0 DONE
JOB 46, SENTENCE 1 DONE
JOB 46, SENTENCE 2 DONE
JOB 46, SENTENCE 3 DONE
JOB 46, SENTENCE 4 DONE
JOB 46, SENTENCE 5 DONE
JOB 46, SENTENCE 6 DONE
JOB 46, SENTENCE 7 DONE
JOB 46, SENTENCE 8 DONE
JOB 46, SENTENCE 9 DONE
JOB 46, SENTENCE 10 DONE
JOB 46, SENTENCE 11 DONE
JOB 46, SENTENCE 12 DONE
JOB 46, SENTENCE 13 DONE
JOB 46, SENTENCE 14 DONE
JOB 46, SENTENCE 15 DONE
JOB 46, SENTENCE 16 DONE
JOB 46, SENTENCE 17 DONE
JOB 46, SENTENCE 18 DONE
JOB 46, SENTENCE 19 DONE
JOB 46, SENTENCE 20 DONE
JOB 46, SENTENCE 21 DONE
JOB 46, SENTENCE 22 DONE
JOB 46, SENTENCE 23 DONE
JOB 46, SENTENCE 24 DONE
JOB 46, SENTENCE 25 DONE
JOB 46, SENTENCE 26 DONE
JOB 46, SENTENCE 27 DONE
JOB 46, SENTENCE 28 DONE
JOB 46, SENTENCE 29 DONE
JOB 46, SENTENCE 30 DONE
JOB 46, SENTENCE 31 DONE
COMPETENCIES 208, SENTENCES 15
------------------------------
JOB 47, SENTENCE 0 DONE
JOB 47, SENTENCE 1 DONE
JOB 47, SENTENCE 2 DONE
JOB 47, SENTENCE 3 DONE
JOB 47, SENTENCE 4 DONE
JOB 47, SENTENCE 5 DONE
JOB 47, SENTENCE 6 DONE
JOB 47, SENTENCE 7 DONE
JOB 47, SENTENCE 8 DONE
JOB 47, SENTENCE 9 DONE
JOB 47, SENTENCE 10 DONE
JOB 47, SENTENCE 11 DONE
JOB 47, SENTENCE 12 DONE
JOB 47, SENTENCE 13 DONE
JOB 47, SENTENCE 14 DONE
COMPETENCIES 190, SENTENCES 32
------------------------------
JOB 48, SENTENCE 0 DONE
JOB 48, SENTENCE 1 DONE
JOB 48, SENTENCE 2 DONE
JOB 48, SENTENCE 3 DONE
JOB 48, SENTENCE 4 DONE
JOB 48, SENTENCE 5 DONE
JOB 48, SENTENCE 6 DONE
JOB 48, SENTENCE 7 DONE
JOB 48, SENTENCE 8 DONE
JOB 48, SENTENCE 9 DONE
JOB 48, SENTENCE 10 DONE
JOB 48, SENTENCE 11 DONE
JOB 48, SENTENCE 12 DONE
JOB 48, SENTENCE 13 DONE
JOB 48, SENTENCE 14 DONE
JOB 48, SENTENCE 15 DONE
JOB 48, SENTENCE 16 DONE
JOB 48, SENTENCE 17 DONE
JOB 48, SENTENCE 18 DONE
JOB 48, SENTENCE 19 DONE
JOB 48, SENTENCE 20 DONE
JOB 48, SENTENCE 21 DONE
JOB 48, SENTENCE 22 DONE
JOB 48, SENTENCE 23 DONE
JOB 48, SENTENCE 24 DONE
JOB 48, SENTENCE 25 DONE
JOB 48, SENTENCE 26 DONE
JOB 48, SENTENCE 27 DONE
JOB 48, SENTENCE 28 DONE
JOB 48, SENTENCE 29 DONE
JOB 48, SENTENCE 30 DONE
JOB 48, SENTENCE 31 DONE
COMPETENCIES 208, SENTENCES 30
------------------------------
JOB 49, SENTENCE 0 DONE
JOB 49, SENTENCE 1 DONE
JOB 49, SENTENCE 2 DONE
JOB 49, SENTENCE 3 DONE
JOB 49, SENTENCE 4 DONE
JOB 49, SENTENCE 5 DONE
JOB 49, SENTENCE 6 DONE
JOB 49, SENTENCE 7 DONE
JOB 49, SENTENCE 8 DONE
JOB 49, SENTENCE 9 DONE
JOB 49, SENTENCE 10 DONE
JOB 49, SENTENCE 11 DONE
JOB 49, SENTENCE 12 DONE
JOB 49, SENTENCE 13 DONE
JOB 49, SENTENCE 14 DONE
JOB 49, SENTENCE 15 DONE
JOB 49, SENTENCE 16 DONE
JOB 49, SENTENCE 17 DONE
JOB 49, SENTENCE 18 DONE
JOB 49, SENTENCE 19 DONE
JOB 49, SENTENCE 20 DONE
JOB 49, SENTENCE 21 DONE
JOB 49, SENTENCE 22 DONE
JOB 49, SENTENCE 23 DONE
JOB 49, SENTENCE 24 DONE
JOB 49, SENTENCE 25 DONE
JOB 49, SENTENCE 26 DONE
JOB 49, SENTENCE 27 DONE
JOB 49, SENTENCE 28 DONE
JOB 49, SENTENCE 29 DONE

In [96]:
competency = []
for i in range(len(scores)):
    tup = list(zip(scores[i], comp_ids[i]))
    tup.sort(reverse=True)

    top = []
    visited = []
    for t in tup:
        if t[1] not in visited:
            top.append(t)
            visited.append(t[1])

    idss = [x[1] for x in top]
    if len(idss) > 20:
        idss = idss[:20]

    competency_names = []
    for ids in idss:
        competency_names.append(onet_df['category'].iloc[ids] + " | " + \
                                onet_df['competency'].iloc[ids] + " | " + \
                                onet_df['description'].iloc[ids])

    competency.append(competency_names)

In [97]:
result_df = occupations.iloc[job_ids[:FIRST_N]]

In [98]:
result_df['onet_competency'] = competency

In [99]:
result_df.head()

,id,title_processed,identifier,score_all,name,description,onet_competency
0,1,data scientist,15-1111.00,0.749518,Computer and Information Research Scientists,Do you want a meaningful role in a company tha...,[Knowledge | Administration and Management | K...
1,2,business intelligence analyst,15-1199.08,0.873630,Business Intelligence Analysts,Brand: Glentel Corporate\nLocation: Burnaby Of...,[Abilities | Inductive Reasoning | The ability...
4,5,machine learning engineer,19-2099.01,0.811024,Remote Sensing Scientists and Technologists,"Who We are\nFounded in 2016, Skycope Technolog...",[Knowledge | English Language | Knowledge of t...
5,6,data scientist,15-1111.00,0.749518,Computer and Information Research Scientists,BrainStation is a global leader in digital ski...,[Abilities | Originality | The ability to come...
6,7,associate data scientist,15-2041.00,0.841210,Statisticians,We are looking for a Data Scientist to support...,[Knowledge | Engineering and Technology | Know...

In [100]:
# Save file
result_df.to_csv('results/skills.csv', index=False)